body {
	margin: 0;
	padding: 0;
	border: 0;
	color: #242424;
	text-align: left;
	background-color: #f4f6f8;
	width: 320px;
	user-select: none;
}
.items {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	list-style: none;
	margin: 8px;
	padding: 8px;
}
.item {
	width: calc(((320px - 16px) / 2) - 16px);
	margin: 4px;
	padding: 4px;
	box-sizing: border-box;
	transition: background-color 300ms ease;
}
.item:hover {
	background-color: #414141;
	transition: background-color 300ms ease;
	cursor: pointer;
}
.item_link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	color: #242424;
}
.item_svg {
	width: 32px;
	height: 32px;
}
.item_svg svg {
	width: 32px;
	height: 32px;
}
.go-to-options {
	cursor: pointer;
	padding: 4px 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.open_tabs_container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	list-style-type: none;
	padding: 8px;
	margin: 0;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: normal;
	transition: all 300ms ease;
}

.open_tabs_container.show {
	height: auto;
	display: flex;
	transition: all 300ms ease;
}
.open_tabs_container li {
	display: grid;
	grid-template-columns: 48px 1fr;
	grid-template-rows: 24px minmax(24px, 1fr);
	margin: 2px 0;
	grid-gap: 0 8px;
	padding: 4px;
	position: relative;
	background-color: #444444;
}
.open_tabs_container li.header {
	height: 24px;
	position: sticky;
	top: 0;
	z-index: 2;
}
.open_tabs_container li img {
	width: 48px;
	height: 48px;
	overflow: hidden;
	object-fit: scale-down;
}
.goto {
	position: absolute;
	right: 4px;
	bottom: 4px;
	background-color: #038387;
	border-radius: 12px;
	padding: 2px 8px;
}
.header {
	display: inline-flex;
	align-items: center;
	column-gap: 8px;
}
.back_to_apps {
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.open_tabs {
	padding: 0;
	overflow-y: auto;
}

.open_tabs::-webkit-scrollbar {
	width: 12px;
}

.open_tabs::-webkit-scrollbar-track {
	background-color: #747474;
	border-radius: 10px;
}

.open_tabs::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: #474747;
	cursor: pointer;
}
.goto {
	cursor: pointer;
}
