@media (prefers-color-scheme: dark) {
	body {
		margin: 0;
		padding: 0;
		border: 0;
		color: #f4f6f8;
		text-align: left;
		background-color: #242424;
		width: 320px;
		-webkit-user-select: none;
		user-select: none;
	}
	.item_link {
		color: #f4f6f8;
	}
	.open_tabs_container {
		background-color: #343434;
	}
}
