body {
	color: #242424;
	background-color: #f4f6f8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.settings_container {
	max-width: 720px;
	width: 90vw;
}
.settings_type {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
.input_container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 4px 0;
}
button {
	border: none;
	background-color: #80bcbd;
	color: #000000;
	padding: 8px 12px;
	cursor: pointer;
	transition: background-color ease-in-out 300ms;
}
.mt8 {
	margin-top: 8px;
}
.gap8 {
	column-gap: 12px;
}

button:hover {
	background-color: #93d6d7;
	transition: background-color ease-in-out 300ms;
}
button:active {
	background-color: #6b9e9f;
	transition: background-color ease-in-out 300ms;
}
